html
    font-family: "Red Hat Text"
    font-weight: 700
    

body
    background: linear-gradient(0deg, hsl(273, 23%, 18%) 15%, hsl(234, 17%, 12%) 75%)
    margin: 0
.container
    position: relative
    margin: 0
    padding: 0
    overflow: hidden
    height: 100vh
    width: 100vw



.section-top
    position: relative 
    width: 100%
    min-height: 75%
    .stars
        position: absolute
        background-color: hsl(237, 18%, 59%)
        mask-image: url("./images/bg-stars.svg")
        width: 100%
        height: 100%
    .title
        display: flex
        justify-content: center
        margin: 44px
        h1
            margin: 94px 
            font-size: 18px
            color: hsl(0, 0%, 100%)
            text-transform: uppercase
            letter-spacing: 7px
    .flip-clock
        display: flex
        justify-content: center
        .day,
        .hour,
        .minute,
        .second
            display: flex
            flex-direction: column
            align-items: center
        .hand
            position: relative
            background-color: hsl(236, 21%, 26%)
            display: block
            width:148px
            height:140px
            padding:0 
            overflow: hidden
            border-radius: 7px
            margin: 16px
            box-shadow: 0 12px 0px 0px hsl(234, 17%, 12%)
            .clock
                position: absolute
                display: flex
                justify-content: center
                align-items: center
                width: 100%
                height: 100%
                p
                    font-size: 72px 
                    color: hsl(345, 95%, 68%) 
            .up
                height:50%
                overflow: hidden
                z-index: -1
                transform-style: preserve-3d
                p
                    margin-top: 140px 
                animation-duration: 0.45s
            .down
                height:50%
                overflow: hidden
                background-color: lighten(hsl(236, 21%, 26%),5% ) 
                margin-top: 35px
                z-index: -1
                transform-style: preserve-3d  
                transform: rotateX(90deg) 
                p
                    margin-top: 0 
                animation-duration: 0.3s
                animation-delay: 0.3s
            .dis
                transform: rotateX(0deg)
                margin-top: 70px 
                background-color: darken(hsl(236, 21%, 26%),3%)
            .line
                position: absolute
                width:148px
                top: 48%
                height:4px
                background-color: hsl(234, 17%, 12%)
                opacity: 0.2
                box-shadow: 0px -35px 0px 35px 	hsl(0deg 0% 0% / 15%)
                z-index: 30
            .circle
                position: absolute
                background-color: hsl(234, 17%, 12%)
                width: 12px
                height: 12px
                border-radius: 6px
                top: 45%
                z-index: 4
            .left-circle
                left: -6px
            .right-circle
                right: -6px
        p
            font-size: 12px
            color: hsl(237, 18%, 59%)
            text-transform: uppercase
            letter-spacing: 7px
            font-weight: 700

.section-bottom
    position: absolute
    bottom: 0
    background-image: url("./images/pattern-hills.svg") 
    background-repeat: round
    height: 197px
    width: 100%
    .socials
        margin-top: 100px
        display: flex
        justify-content: center
        a
            color: hsl(237, 18%, 59%)
            text-decoration: none
            margin: 16px
            &:hover
                cursor: pointer
                color:  hsl(345, 95%, 68%)
    .attribution
        font-size: 11px
        text-align: center
        color: hsl(0,0%,100%)
        a
            color: hsl(228, 45%, 44%) 
            
                
@keyframes flipup
  0%
    transform: rotateX('0')
    margin-top: 0  
    z-index: 5
    background-color: darken(hsl(236, 21%, 26%),1% )
  15%
    margin-top: 0
  99%
    z-index: 5
  100%
    transform: rotateX(-90deg)
    margin-top: 35px
    z-index: -1
    background-color: darken(hsl(236, 21%, 26%),15% )

@keyframes flipdwn
  0%
    transform: rotateX(-90deg)
    margin-top: 35px
    background-color: lighten(hsl(236, 21%, 26%),10% ) 
    z-index: 5
  80%
    margin-top: 68px
  99%
    z-index: 5
  100%
    transform: rotateX(0deg)
    margin-top: 70px
    z-index: -1
    background-color: hsl(236, 21%, 26%)
@media screen and (max-height: 750px)
    .section-top
        min-height: 75vh   
        .title 
            margin: 0 auto
            h1
                margin: 5vh auto
    .section-bottom 
        height: 25vh
        .socials
            margin-top: 10vh


@media screen and ((max-width: 768px) or (max-height: 350px)) 
    .section-top  
        .title 
            h1
                margin: 14vh 10vw
                text-align: center
        .flip-clock  
            .hand 
                width:67px
                height:70px 
                margin: 4.26vh 10px
                box-shadow: 0 6px 0px 0px hsl(234, 17%, 12%)
                .clock 
                    p
                        font-size: 30px  
                .up  
                    p
                        margin-top: 64px  
                .down 
                    animation-name: none 
                    margin-top: 17.5px  
                    p
                        margin-top: -5px
                .dis 
                    margin-top: 35px 
                .line 
                    width:67px
                    top: 48%
                    height:2px
                    box-shadow: 0px -17.5px 0px 35px 	hsl(0deg 0% 0% / 15%) 
                .circle
                    width: 6px
                    height: 6px
                    border-radius: 3px  
                .left-circle
                    left: -3px
                .right-circle
                    right: -3px
            p
                font-size: 8px 
                letter-spacing: 3px

    .section-bottom
        background-position-x: right
        background-size: 1000px
        background-repeat: no-repeat 

    @keyframes flipup
        0%
            transform: rotateX('0')
            margin-top: 0  
            z-index: 5
            background-color: darken(hsl(236, 21%, 26%),1% )
        15%
            margin-top: 0
        99%
            z-index: 5
        100%
            transform: rotateX(-90deg)
            margin-top: 17.5px
            z-index: -1
            background-color: darken(hsl(236, 21%, 26%),15% )

    @keyframes flipdwn
        0%
            transform: rotateX(-90deg)
            margin-top: 17.5px
            background-color: lighten(hsl(236, 21%, 26%),10% ) 
            z-index: 5
        80%
            margin-top: 33px
        99%
            z-index: 5
        100%
            transform: rotateX(0deg)
            margin-top: 35px
            z-index: -1
            background-color: hsl(236, 21%, 26%) 


 