.attribution 
    font-size: 11px
    text-align: center
    a 
        color: hsl(228, 45%, 44%)

html
    font-family: "League Spartan" 
body
    margin: 0 
 
.header
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    margin: 24px
    .theme
        display: flex
        flex-wrap: nowrap 
        align-items: flex-end
        p
            margin: 5px
            font-size: 16px
            font-weight: 700
    .choice
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        padding-left: 24px
        .choice-no
            display: flex 
            flex-direction: row
            justify-content: space-around
    .toggle
        background-color: green
        padding: 4px
        border-radius: 15px
        width:63px
        height:18px
        .dot
            display: inline-block
            background-color: green
            border-radius: 9px
            width:18px
            height:18px






.display
    margin: 24px
    width: 327px
    height: 88px
    background-color: red
    border-radius: 10px
    input
        text-align: right



.keypad
    display: flex
    justify-content: space-between
    flex-direction: column
    padding: 24px
    margin: 24px
    background-color: green 
    width: 279px
    height: 372px
    border-radius: 10px
    .row
        display: flex
        justify-content: space-between
        flex-direction: row
        width: 279px
        .btn-1,
        .btn-2
            border: none
            border-radius: 5px
            margin: 0
            padding: 0
            font-size: 16px
            font-weight: 700
        .btn-1
            width: 64px
            height: 64px
        .btn-2
            width: 136px
            height: 64px
    
