.attribution 
    font-size: 11px
    text-align: center
    a 
        color: hsl(228, 45%, 44%)

html
    font-family: "Bai Jamjuree"
   

body
    margin: 0

.container
    margin: 0
    width: 100%
    display: block
    overflow: hidden
    

.row
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    flex-direction: row 

    .col-1
        width: 8.33%
    .col-2
        width: 16.66%
    .col-3
        width: 25%
    .col-4
        width: 33.33%
    .col-5
        width: 41.66%
    .col-6
        width:50%
    .col-7
        width: 58.33%
    .col-8
        width: 66.66%
    .col-9
        width: 75%
    .col-11
        width: 91.66%
    .col-12
        width: 100%

.row
    padding: 52px 10%
    .row
        padding: 34px 0
        .row
            padding: 20px 0
    .col-12
        display: flex
        flex-direction: column
        align-items: center 
    h1,
    h2,
    h3
        text-align: center 
        margin: 20px 0
    p
        text-align: center 
        margin: 0 
        word-spacing: -1.6px
        line-height: 23px  

    .header
        margin-top: 39px
        img
            padding: 45px 31%
            width: 38%
            max-width: 127px
    .btn
        display: flex
        flex-wrap: wrap 
        margin: 38px 0
        button
            padding: 20px 55px
            width: 310px
            margin: 12px
            border-style: none
            border-radius: 50px
    img
        width: 100%
    .col-4
        padding: 15px 0
        img
            padding: 31px 43%
            width:14%
.brands
    padding: 0 10%
    display: flex
    flex-wrap: wrap
    img
        display: block
        max-width: 44%
        width: auto
        height: auto
        padding-bottom: 66px
.footer 
    .logo-footer
        padding: 17px 0 
        align-self: center
        width: 20%
        max-width: 60px

    .col-8
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        a
            padding: 14px 0 
            min-width: 200px
        
    a
        padding: 0 16px
        img
            max-width: 24px
        

@media screen and (max-width: 700px)
    .row
        display: block
        .col-2,
        .col-4,
        .col-6,
        .col-8
            width: 100%
            display: flex
            flex-wrap: wrap
            justify-content: center
        a
            display: block
            text-align: center 
    .footer
        .col-8
            margin-bottom: 41px

         

        
    
