.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-family: "Rubik";
  font-size: 16px;
}

body {
  background-color: #000;
}

.phone-outline {
  margin: 100px;
  width: 227px;
  height: 485px;
  border-radius: 25px;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  position: relative;
  background-color: hsl(270, 20%, 96%);
}
.phone-outline .notch {
  width: 119px;
  position: absolute;
  background-color: #fff;
  height: 19px;
  margin: 0 54px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.phone-outline .top-bar {
  width: 100%;
  height: 67px;
  background-color: hsl(293, 100%, 63%);
  background: linear-gradient(90deg, hsl(264, 100%, 61%) 5%, hsl(293, 100%, 63%) 85%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: hsl(0, 0%, 100%);
}
.phone-outline .top-bar .top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  margin-left: 11px;
}
.phone-outline .top-bar .top-content .avatar {
  margin-left: 8px;
  border-style: solid;
  border-width: 1px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.phone-outline .top-bar .top-content .avatar img {
  width: 100%;
  border-radius: 12px;
}
.phone-outline .top-bar .top-content .avatar-name {
  margin-left: 8px;
}
.phone-outline .top-bar .top-content .avatar-name h5 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
.phone-outline .top-bar .top-content .avatar-name p {
  font-size: 8px;
  color: hsl(276, 100%, 81%);
  margin: 0;
}
.phone-outline .top-bar .top-content .ellipsis {
  margin-left: 70px;
}
.phone-outline .chat-background {
  padding: 12px 7px;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  line-height: 10px;
}
.phone-outline .chat-background .send {
  border-radius: 9px;
  border-bottom-left-radius: 3px;
  background-color: hsl(281, 42%, 93%);
  max-width: 115px;
  font-weight: 400;
  padding: 7px;
}
.phone-outline .chat-background .send p {
  margin: 0;
  text-wrap: balance;
  color: hsl(276, 55%, 52%);
}
.phone-outline .chat-background .recive {
  border-radius: 9px;
  border-bottom-right-radius: 3px;
  background-color: hsl(0, 0%, 100%);
  max-width: 115px;
  font-weight: 400;
  padding: 7px;
  align-self: flex-end;
}
.phone-outline .chat-background .recive p {
  margin: 0;
  text-wrap: pretty;
  color: hsl(271, 15%, 43%);
}
.phone-outline .chat-background .pictures {
  display: flex;
  background-color: hsl(270, 20%, 96%);
  padding: 0;
  align-self: flex-end;
  width: 136px;
}
.phone-outline .chat-background .pictures img {
  border-radius: 7px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.phone-outline .chat-background .price {
  border-radius: 9px;
  border-bottom-left-radius: 3px;
  padding: 9px;
  background: linear-gradient(90deg, hsl(293, 100%, 63%) 10%, hsl(264, 100%, 61%) 100%);
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phone-outline .chat-background .price div {
  display: inline-flex;
}
.phone-outline .chat-background .price div p {
  font-size: 8px;
  font-weight: 400;
}
.phone-outline .chat-background .price .circle {
  width: 10px;
  height: 10px;
  border-radius: 7px;
  border-style: solid;
  border-color: hsl(289, 100%, 72%);
  border-width: 1px;
  margin: 1px 7px 1px 0;
}
.phone-outline .chat-background .price p {
  margin: 2px 0;
  font-weight: 700;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
}
.phone-outline .chat-background .message {
  border-radius: 20px;
  display: block;
  position: absolute;
  bottom: 11px;
  align-self: center;
  width: 203px;
  height: 24px;
  border-style: solid;
  border-width: 5px;
  border-color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
}
.phone-outline .chat-background .message form input {
  border: none;
  padding: 0 66px 0 13px;
  font-size: 8px;
}
.phone-outline .chat-background .message form input::-moz-placeholder {
  color: hsl(206, 6%, 79%);
}
.phone-outline .chat-background .message form input::placeholder {
  color: hsl(206, 6%, 79%);
}
.phone-outline .chat-background .message form button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 12px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(271, 36%, 24%);
}
.phone-outline .chat-background .gap {
  display: block;
  width: 100%;
  height: 8px;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */